<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">

<head>
    <meta charset="utf-8" />
    <title>Admin - CALC</title>
</head>
<body>

<div layout:fragment="content" class="row-fluid">
    <!-- BreadcrumbNavigation begin-->
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="breadcrumb">
                <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                <li class="active">
                    计算器简介
                    <span class="divider">/</span>
                </li>
                <li>
                    <a th:href="@{/admin/calc/add}">加</a>
                    <span class="divider">/</span>
                </li>
                <li>
                    <a th:href="@{/admin/calc/subtract}">减</a>
                    <span class="divider">/</span>
                </li>
                <li>
                    <a th:href="@{/admin/calc/multiply}">乘</a>
                    <span class="divider">/</span>
                </li>
                <li>
                    <a th:href="@{/admin/calc/divide}">除</a>
                    <span class="divider">/</span>
                </li>
            </ul>
        </div>
    </div>


    <div class="span12" id="content">
        <div class="row-fluid">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">简介</div>
                </div>
                <div class="block-content collapse in">


                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
</div>





</body>
</html>